@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/barlow-v5-latin-ext_latin-regular.woff2") format("woff2"),
    url("/fonts/barlow-v5-latin-ext_latin-regular.woff") format("woff"),
    url("/fonts/barlow-v5-latin-ext_latin-regular.ttf") format("truetype");
}

body {
  background: #16181b;
  color: #fff;
  font-family: 'Barlow', sans-serif;
}
